$light-color: #ffffff;
$dark-color: #333333;
$primary-color: #c8a97e;
$secondary-color: #86897d;
$gray-color: #c0c0c0;
$dark-gray-color: #2c2b2b;
$max-width:1200px;

.container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 2rem;
}

.active {
    color:$primary-color !important;
}

.active-tablet {
    color:$light-color !important;
}

.active-tablet-scroll {
  color:$primary-color !important;
}

.active-btn {
    height: auto !important;
}